* {
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  line-height: 1.25;
}

html {
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
} 

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}